.embla {
  position: relative;
  overflow: hidden;
  height: auto;
  
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: ;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  
}

.embla__prev,
.embla__next {
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.embla__prev {
  left: 10px;
}

.embla__next {
  right: 10px;
}

.embla__prev svg,
.embla__next svg {
  width: 24px;
  height: 24px;
}

.embla__topic {
  position: absolute;
  bottom: 500px;
  left: 0;
  right: 0;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 10px;
}

.embla__topic h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: bolder;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




@media (min-width: 300px) and (max-width: 425px) {
  .embla {
    position: relative;
    overflow: hidden;
    height: auto;
    
  }
  .embla__prev,
  .embla__next {
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 20px;
    height: 20px;
  }
  .embla__topic {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 10px;
    font-size: 1rem;
  }
  .embla__topic h2 {
    margin: 0;
    font-size: 0.8rem;
  }
  
  
}
