/* Navbar.module.css */

/* Logo styling */
.logo {
  width: 130px;
  height: 75px;
  margin-bottom: 10px;
  object-fit: contain; /* Ensures the logo maintains aspect ratio */
  transition: width 0.3s, height 0.3s; /* Smooth resizing transitions */
}

/* Navbar container styling */
.navbarCustom {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(58, 58, 58, 0.8) 50%, rgba(0, 0, 0, 0.9) 100%);
  height: 64px;
  padding: 0 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  display: flex;
  align-items: center;
}

/* Adjustments for tablet screens */
@media (min-width: 768px) {
  .navbarCustom {
    height: 72px;
    padding: 0 24px;
  }
}

/* Adjustments for desktop screens */
@media (min-width: 1024px) {
  .navbarCustom {
    height: 80px;
    padding: 0 32px;
  }
}

/* Menu item styling */
.menuItem {
  margin-right: 20px;
  color: white;
  font-size: 1rem;
  transition: color 0.3s; /* Smooth color transition */
}

.menuItem:hover {
  color: #45449c; /* Lighter color on hover */
}

/* Dropdown button styling */
.dropdownButton {
  color: white;
  transition: color 0.3s; /* Smooth color transition */
}

.dropdownButton:hover {
  color: #f0f0f0; /* Lighter color on hover */
}

/* Text styling */
.textWhite {
  color: white;
}

/* Logo link styling */
.logoLink {
  display: flex;
  align-items: center;
  font-size: 24px;
  transition: font-size 0.3s; /* Smooth font-size transition */
}

/* Adjustments for smaller screens */
@media (min-width: 300px) and (max-width: 425px) {
  .logo {
    width: 70px;
    height: 60px;
    margin-left: 72px;
    margin-bottom: 10px;
  }
}
