
.logo {
  width: 130px;
  height: 75px;
  margin-bottom: 10px;
  object-fit: contain; /* Ensures the logo maintains aspect ratio */
  transition: width 0.3s, height 0.3s; /* Smooth resizing transitions */
}

/* Navbar container styling */
.navbarCustom {

}

/* Adjustments for tablet screens */
@media (min-width: 768px) {
  .navbarCustom {
    height: 72px;
    padding: 0 24px;
  }
}

/* Adjustments for desktop screens */
@media (min-width: 1024px) {
  .navbarCustom {
    height: 80px;
    padding: 0 32px;
  }
}

/* Menu item styling */
.menuItem {
  margin-right: 20px;
  color: white;
  font-size: 1rem;
  font-weight: 550;
  transition: color 0.3s; /* Smooth color transition */
}

.menuItem:hover {
  color: #817ffc; /* Lighter color on hover */
}

/* Dropdown button styling */
.dropdownButton {
  color: white;
  transition: color 0.3s; /* Smooth color transition */
}

.dropdownButton:hover {
  color: #f0f0f0; /* Lighter color on hover */
}

/* Text styling */
.textWhite {
  color: white;
}

/* Logo link styling */
.logoLink {
  display: flex;
  align-items: center;
  font-size: 24px;
  transition: font-size 0.3s; /* Smooth font-size transition */
}

/* Adjustments for smaller screens */
@media (min-width: 300px) and (max-width: 425px) {
  .logo {
    width: 70px;
    height: 60px;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .navbar-end {
    font-size: small;
  }
}
@media (min-width: 425px) and (max-width: 868px) {
  .logo {
    width: 70px;
    height: 60px;
    margin-left: 80px;
    margin-bottom: 10px;
  }
  .navbar-end {
    font-size: small;
  }
}


.logo {
  width: 130px;
  height: 75px;
  margin-bottom: 10px;
  object-fit: contain;
}