/* Navbar.module.css */

.logo {
  width:130px ;
  height:75px;
  loading:'lazy'

}


.navbarCustom {
    background: rgba(0, 0, 0, 0.5);
    height: 64px;
    padding: 0 16px;
  }
  
  @media (min-width: 768px) {
    .navbarCustom {
      height: 72px;
      padding: 0 24px;
    }
  }
  
  @media (min-width: 1024px) {
    .navbarCustom {
      height: 80px;
      padding: 0 32px;
    }
  }
  
  .menuItem {
    margin-right: 20px;
    color: white;
    font-size: 1rem;
  }
  
  .dropdownButton {
    color: white;
  }
  
  .textWhite {
    color: white;
  }
  
  .logoLink {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  @media (min-width:300px) and (max-width:425px) {
 
  .logo{
    width: 70px;
    height: 60px;
    margin-left:80px;
  }

  


  }